
  body {background-color: powderblue;
  width: 600px;
  margin: 0 auto;} 
  h1 {color: forestgreen;
  font-size: 25px;
  text-align: left;} 
  p {color: forestgreen;
    font-size: 20px;
  } 

li,ul, a{
  font-size: 20px;
  line-height: 1;
  letter-spacing: 1px;
}


img {
  display: green;
  margin: 0 auto;
  visibility: visible;
  align-items: left;
  size: 20px;
}